.page {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  min-height: 100vh;
  height: 100%;
}

.app {
  margin: 0 auto;
  background-color: #fafafa;
}

.links-hover:hover {
  opacity: 0.6;
  transition: 1s ease;
}